################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowerShellModuleProject1/Public/Get-CVAzureVMBackupStatus.txt
